[Unit]
Description=StarlingX Fault Management Initialization
After=network.target syslog.target

[Service]
Type=forking
Restart=no
KillMode=process
RemainAfterExit=yes
ExecStart=/etc/init.d/fminit start
ExecStop=/etc/init.d/fminit stop
ExecReload=/etc/init.d/fminit reload
PIDFile=/var/run/fmManager.pid

[Install]
WantedBy=multi-user.target

