Source: fm-mgr
Priority: optional
Maintainer: StarlingX team <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper (>=9),
               uuid-dev,
               libsystemd-dev,
               fm-common-dev
Standards-Version: 3.9.6

Package: fm-mgr
Architecture: any
Pre-Depends: ${misc:Depends},
             ${shlibs:Depends}
Description: This package contains StarlingX fm-mgr project.
