#!/usr/bin/make -f
#export DH_VERBOSE = 1

export ROOT=debian/tmp

%:
	dh $@ --with python3 --builsystem=pybuild

override_dh_auto_build:
	$(MAKE)
	python3 setup.py build

override_dh_auto_install:
	make DESTDIR=$(ROOT) \
		LIBDIR=/usr/lib \
		INCDIR=/usr/include \
		CGCS_DOC_DEPLOY=/opt/deploy/cgcs_doc install
	python3 setup.py install --install-layout=deb --skip-build --root $(ROOT)

	python3 setup.py bdist_wheel \
		--universal \
		-d $(CURDIR)/debian/fm-common-wheel/usr/share/python-wheels

override_dh_fixperms:
	dh_fixperms -XfmClientCli

override_dh_usrlocal:
	# do nothing
