Source: fm-rest-api
Priority: optional
Section: libs
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-dev,
 python3-fm-api,
 python3-keystoneauth1,
 python3-keystonemiddleware,
 python3-oslo.config,
 python3-oslo.db,
 python3-oslo.log,
 python3-oslo.messaging,
 python3-oslo.middleware,
 python3-oslo.policy,
 python3-oslo.versionedobjects,
 python3-pecan,
 python3-setuptools,
 python3-sqlalchemy,
 python3-wsme,
 python3-wheel,
 tsconfig
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: fm-rest-api
Section: libs
Architecture: any
Depends: ${python3:Depends},
 ${misc:Depends},
 python3-eventlet,
 python3-webob,
 python3-paste
Description: Fault Management Openstack REST API
 This package contains the Openstack REST API for fault management.

Package: fm-rest-api-wheel
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Contains python wheels for fm-rest-api
