Source: fm-api
Priority: optional
Maintainer: StarlingX team <starlingx-discuss@lists.starlingx.io>
Build-Depends: python-setuptools,
               python-all,
               debhelper,
               dh-python
Standards-Version: 3.9.6

Package: fm-api
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends}
Description: This package contains the fm-api project.
