#!/usr/bin/make -f
#export DH_VERBOSE = 1

export PYBUILD_NAME=fm-rest-api
export ROOT=debian/tmp
export FMCONFDIR=$(ROOT)/etc/fm
export PMONDIR=$(ROOT)/usr/share/starlingx/pmon.d
export INITDIR=$(ROOT)/etc/init.d

%:
	dh $@ --with=python3 --buildsystem=pybuild

override_dh_auto_install:
	python3 setup.py install -f --install-layout=deb --root=$(CURDIR)/$(ROOT)
	python3 setup.py bdist_wheel  --universal  \
		-d $(CURDIR)/debian/fm-rest-api-wheel/usr/share/python-wheels
	install -d -m 755 $(INITDIR)
	install -p -D -m 755 scripts/fm-api $(INITDIR)/fm-api
	install -d -m 755 $(PMONDIR)
	install -p -D -m 644 fm-api-pmond.conf $(PMONDIR)/fm-api.conf
	oslo-config-generator --config-file fm/config-generator.conf --output-file fm.conf.sample
	install -d -m 755 $(FMCONFDIR)
	install -p -D -m 600 fm.conf.sample $(FMCONFDIR)/fm.conf
	install -p -D -m 600 fm/policy.yaml $(FMCONFDIR)/policy.yaml
	dh_auto_install


override_dh_fixperms:
	dh_fixperms -Xfm.conf -Xpolicy.yaml

override_dh_installsystemd:
	dh_installsystemd --no-enable --name fm-api

ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
        # (tbogue) FIXME
        PYTHONDIR=$(CURDIR) stestr run || true
endif
